int x;

function : void foo() {
    int foo = x;
}

float a[10];
float b[10];
float c[2][10];
bool d[5][4][3][2][1];

a[55];
a[0-99];

a[x + 10];
a[c];

a[c+5];

a[-9];

a[5][7];

a[-9][0];

a[x+4][c+2];

a[-c][5+3];

int woo;

function : void woo() {}

function : void woo(int a) {}
