function : void errorTest() {

    int a = 10 + 10; // fine

    const float z = 9.482 + 4.928;

    const int b = a + 3; // b not known at compile time

    // what happens below?
    const int c = 30 + false; // will gen an error

    const int d = c + 5; // undeclared c

    const int f = 19.8;

    int i = 1892.8; // Should gen an error
}
