//structdef MYS {
//    int wee;
    function : int x (int p, float i) {
        int j = p;
    }

    function : int x (int p, float i) {
        int j = p;
    }

    function : int x (int p, float i) {
        int j = p;
    }

//};
