function : int main() {
    int a = 10;
    int b = 5;

    exit(0); // pass

    exit(1 + 1); // pass

    exit(a + b); // pass

    exit(-1); // pass

    exit(); // fail

    exit(false); // fail

}
