function : void func1(int a, int b, int c) {
    int z = a + b + c;

    a = 5;
    return;
}

function : int func2(int& a, int b) {
    int z = 10;
    return z;
}

function : int func3(int& a, int& b) {
    return 5;
}

function : int& func4(int a, int b) {
    int z = 10;
    return &10;
}

function : int main() {

    int i1 = 4;
    int i2 = 19;
    float f1 = 9.98;
    bool b = false;

    func1(1, 2, 3); // pass

    func1(1, 2); // fail - # args mismatch

    func1(f1, b, 5); // fail - param type mismatch

    func1(f1, b); // fail - # and type mismatch

    int res1 = func2(9, 5); // fail

    func3(&i1, &i2); // pass

    int res2 = func4(1, 2); // pass

    float res3 = func4(1, 2); // will prop pass now, may fail later

    return 0;
}
