function : int foo() {
	return -1;
}

function : int main() {
	foo() = 4; // not a mod L val
	1 = 2 = 3 = 4; // Not a mod L val
	foo = 3; // not a mod l val
	true = false; // not a mod l val
	3.4 = 4.3; // not a mod l val

	return 0;
}
